@import 'variables';

.clients__block--wrapper {
    display: flex;
    overflow-x: scroll;
    column-gap: 1em;
    padding: 2.25em 0;
    &::-webkit-scrollbar {
        display: none;
    }
    img {
        max-width: 30%;
        height: auto;
        width: auto;
        object-fit: contain;
        @media screen and (min-width: $tablet) {
            max-width: 20%;
            margin: 0 1em;
        }
    }
}